vifminfo
pcmanfm/
*.o
/home/app/dwm-6.2/dwm
/home/app/st/st
/home/app/dmenu*/dmenu
/home/app/dmenu*/stest
tags
tunnel_nibble*
xmonad-*
xmonad.hi
xmonad.errors
__pycache__/*
*/neomutt/accounts/*
home/.config/neomutt/accounts/
*.~$
.cache/
.lsp-session-*
auto-save-list
elpa
eshell
lsp-cache
projectile*
recentf*
init.el.*
irony
transient
var
network-security.data
emacs.d.raw/init-new.el
