snippet html5 "Base HTML 5 document"
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width$3, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>title$1</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <!-- page content -->
		$2
  </body>
</html>
endsnippet
snippet html5_pug "Base HTML5 document in pug"
<!DOCTYPE html>
html(lang="en)
  head
    meta(charset="UTF8-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
endsnippet
