snippet rn-comp "React Native Component"
import React from 'react';
import { StyleSheet, Text, View } from 'react-native';

const `!p snip.rv = snip.basename`$1 = props => {
  return (
    <View style={styles.screen}>
      <Text>`!p snip.rv = snip.basename`$3!</Text>
    </View>
  );
}

const styles = StyleSheet.create({
  screen: {
    flex: 1,
    alignItems: 'center',
    justifyContent: 'center',
  },
});

export default `!p snip.rv = snip.basename`$2;
endsnippet
