//spawn-at-startup "waybar"
spawn-at-startup "cliphist-daemon"
spawn-at-startup "swaylock-inactivity"
spawn-at-startup "niri-set-background"
spawn-at-startup "$HOME/.config/niri/scripts/set-theme-settings"
