[Unit]
Description=Crypto currency value checker timer

[Timer]
OnBootSec=10m
OnUnitActiveSec=5m
Unit=cryptos.service

[Install]
WantedBy=timers.target
