[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
# ExecStart=/usr/bin/mbsync -Va && notify-send "Mail Synced \n Unreaded: $(find /mnt/coisas/.mail/*/[Ii][Nn][Bb][Oo][Xx]/new/* -type f | wc -l 2>/dev/null)"
ExecStart=/bin/bash .local/bin/mbsync_and_notify

WorkingDirectory=/home/luis/
